---
title: "Schmidty Notes | My work, notes, musings and more."
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---
<header class="home-banner content-wrapper">
  <div class="site-entry-text">
    <sub class="sub-over"> Web Development | Data Science | Wildlife Biology</sub>
    <h1 class="banner-title">Schmidty <br>Notes</h1>
    <sub class="sub-below">My work, notes, musings and more.  Some serious, some not.</sub>
  </div>
  {% include "social.njk" %}
</header>
<main>
  <section class="content-wrapper blog-index two-one">
    <h2 class="blog-index-header">Latest Posts</h2>
    <div class="blog-index">
      <ol class="blog-index-roll">
        {%- for post in collections.posts | reverse -%}
        {%- if loop.index0 < 7  -%}
        <li class="blog-item">
          <span class="blog-item-text">
            <time datetime="{{ post.data.date | htmlDateString }}" class="blog-item-time">{{ post.data.date | readableDate }}</time>
            <a href="{{ post.url | url }}" class="blog-item-title"><h3><span>&#128279;</span>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3></a>
            {% excerpt post %}
          </span>
          <ul class="blog-index-tags">
          {% for tag in post.data.tags | filterTagList%}
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <li><a href="{{ tagUrl | url }}" class="blog-index-tag">{{ tag }}</a></li>
          {% endfor %}
          </ul>
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ol>
      <a href="post-index/1" class="link-to">Older Posts</a>
    </div>
    
  </section>
  
</main>