.site-footer {
  margin-top: 50px;
  padding: 2rem 0 0rem 0;
  border-top: 3px solid $black;
  h1 {
    margin-top: 0;
  }
  .link-to{
    margin-top: 0;
  }
}
.footer-ticker {
  background: $black;
  margin-bottom: 0;
  position: relative;
  bottom: -4px;
  ul {
    display: flex;
    flex-wrap: nowrap;
    font-family: $deco-text;
    animation: marquee 20s linear infinite;
    margin: 2rem -3rem 0.2rem 0;
    padding: 2px 0;
    
  }

  li{
    margin-left: 30px;
    flex: 0 0 auto; 
    color: $white;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}