<ul class="social">
  <li><a href="https://twitter.com/@mschmidty">@mikejschmidty <img src="/svg/twitter-icon.svg" alt="twitter icon"></a></li>
  <li><a href="https://github.com/mschmidty">@mschmidty<img src="/svg/github-icon.svg" alt="github icon"></a></li>
  <li><a href="https://codepen.io/mschmidty">@mschmidty<img src="/svg/code-pen.svg" alt="code pen icon"></a></li>
</ul>