$black: #292929;
$white: #F8F8F5;
$grey: #A7A7A7;
$dark-grey: #999999;
$light-grey: #F7F9F9;
$link: #3774B0;
$link-active: #377400;
$red:#db3232;
$light-red: #FF5454;
$yellow:#FFBE43;
$brown: rgba(145, 111, 111, 1);
$light-brown: rgba(145, 111, 111, 0.2);
$tan: #FAF5D2;