---
layout: page
pagination:
  data: imagesData
  size: 1
  alias: image
permalink: images/{{ image.asset_id }}/
---

<a class="link-to-before back-link-images" href="/images/">Back to Images</a>
<div class="photography-image">
  <div class="photography-image-text">
    <div>
      <h3>{{ image.context.custom.caption if image.context.custom.caption else "Untitled"}}</h3>
      <p class="blog-item-time">{{ image.context.custom.Year if image.context.custom.Year else "Unknown Time"}} | {{ image.context.custom.Location if image.context.custom.Location else "Unknown Location"}}</p>
    </div>
    <p>{{ image.context.custom.alt if image.context.custom.alt }}</p>
  </div>
  <img 
    src="{{image.mediumImage}}" 
    srcset="
      {{image.smallImage}} 600w,
      {{image.mediumImage}} 1000w,
      {{image.largeImage}} 1500w,
      {{image.extraLargeImage}} 2200w
    "
    alt="{{ image.context.custom.alt if image.context else 'Sorry, I\'m a bad person and have not added an alt text.'}}"
  />
</div>

<nav class="image-navigation" aria-labelledby="my-pagination">
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><span>&lsaquo;&lsaquo;</span> Previous Image </a>{% endif %}</li>
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next Image<span> &#8250;&#8250;</span></a>{% else %}<a href="/images/">Back to Photos</a>{% endif %}</li>
  </ol>
</nav>