---
layout: layouts/base.njk
---
<article class="page-content content-wrapper">
  {% if title or subtitle %}
    <header class="post-header">
      <h1 class="post-title">{{ title }}</h1>
      <div class="post-meta">
        <p class="subtitle">{{ subtitle }}</p>
      </div>
    </header>
  {% endif %}
  
  {{ content | safe }}
</article>