.home-banner {
  padding: 6rem 0;
  // @media all and(max-width:800px){
  //   .social{
  //     display: none;
  //   }
  // }
}

.site-entry-text{
  .sub-over{
    font-family: "Fira Code";
    font-size: clamp(0.7rem, 0.6250rem + 0.3333vw, 0.8rem);
    color: $grey;
  }
  h1.banner-title {
    font-size: 5rem;
    margin: 0.6rem 0 0 0;
  }
  .sub-below{
    font-family: "Fira Sans";
    font-style: italic;
    font-weight: 400;
  }
}

ul.social{
  margin: 0;
  list-style-type: none;
  a{
    color: $grey;
    font-family: "Fira Code";
    font-size: 0.7rem;
    line-height: 1.4rem;
    text-decoration: none;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding-bottom: 7px;
  }
  img {
    height: 1.3rem;
    width: 1.3rem;
    display: inline-block;
    margin-left: 5px;
  }
  @media all and(max-width: 800px){
    display: flex;
    padding-left: 0;
    margin-top: 25px;
    li {
      margin-right: 10px;
    }
    
  }
}



