.post-content {
  width: 95%;
  margin: 0 auto;
  position: relative;
  >p, >a, >h1, >h2, >h3, >h4, >h5, >h6, >ol, >ul, >time, >span, >blockquote, >table, >figure{
    position: relative;
    width: 100%; 
    max-width: 700px; 
    margin-right: auto;
    margin-left: auto;
  }
  figure{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    justify-content: center;
    display:flex;
    width: 100%; 
    max-width: 1100px; 
    canvas{
      max-width: 100%;
      height: auto !important; // to over-ride the default style;
    }
  }
  img{
    width: 100%;
  }
  img.small-image{
    max-width: 200px;
  }
  .portrait-image-js-added{
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .post-header{
    margin-bottom: 4rem;
    @include content-wrap;
  }
  .post-meta{
    display: flex;
    flex-direction: row;
    justify-content: start;
    @include content-wrap;
    @media all and(max-width:600px){
      display: block;
      span{
        display:none;
      }
      .post-tags{
        margin-top: 0.4rem;
      }
    }
    time, span {
      margin-right: 0.3rem;
    }
    span {
      font-weight: 300;
      font-family: $deco-text;
    }
  }
  .post-title{
    font-size: clamp(3rem, -1.6471rem + 11.7647vw,  5rem);
    margin-bottom: 0.75rem;
  }
  .post-time {
    font-family: $deco-text;
    color: $grey;
    font-size: 1.05rem;
    margin-right: 0;
  }
  .post-tags{
    display: flex;
    align-items: center;
    position:relative;
    bottom: 3px;
    h4 {
      font-family: $deco-text;
    }
  }
  .post-tag-list a.tag-list-tag{
    font-size: 1rem;
    line-height: 1.2;
  }
}

.post-content li {
  line-height: 1.8;
}

.post-content img {
  margin: 2rem auto;
}

.post-next {
  margin-top: 40px;
  font-family: $deco-text;
  display: flex;
  justify-content: space-between;
  background: $tan;
  padding: 1.5rem;
  border-radius: 10px;
  span {
    width: 50%;
    &:nth-of-type(2){
      text-align: right;
    }
  }
  @media all and(max-width: 600px){
    flex-direction: column;
    span {
      width: 100%;
      margin-top: 1rem;
      &:nth-of-type(2){
        text-align: left;
      }
    }
  }
}

.related-posts{
  margin-top: 1.6rem;
  h3 {
    text-align:center;
  }
  ul {
    list-style-type:none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
  li {
    align-self: stretch;
    justify-self: stretch;
  }
  a {
    display: block;
    background: #DFF1FF;
    padding: 1rem;
    border-radius: 8px;
    height: 100%;
    transition: 0.3s box-shadow ease;
    &:hover{
      box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
    }
  }
  h4 {
    color: $black;
  }
  .post-time {
    font-size: 0.9rem;
  }
  @media all and(max-width: 600px){
    ul{
      grid-template-columns: 1fr; 
      row-gap: 1rem;
    }
    
  }
}
