.post-content {
  width: 97%;
  margin: 0 auto;
  position: relative;
  >p, >a, >h1, >h2, >h3, >h4, >h5, >h6, >ol, >ul, >time, >span, >blockquote, >table {
    position: relative;
    width: 100%; 
    max-width: 700px; 
    margin-right: auto;
    margin-left: auto;
  }
  figure{
    margin-right: 0;
    margin-left: 0;
  }
  img{
    width: 100%;
  }
  .portrait-image-js-added{
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .post-header{
    margin-bottom: 4rem;
    @include content-wrap;
  }
  .post-meta{
    display: flex;
    flex-direction: row;
    justify-content: start;
    @include content-wrap;
    @media all and(max-width:600px){
      display: block;
      span{
        display:none;
      }
      .post-tags{
        margin-top: 0.4rem;
      }
    }
    time, span {
      margin-right: 0.3rem;
    }
    span {
      font-weight: 300;
      font-family: $deco-text;
    }
  }
  .post-title{
    font-size: clamp(3rem, -1.6471rem + 11.7647vw,  5rem);
    margin-bottom: 0.75rem;
  }
  .post-time {
    font-family: $deco-text;
    color: $grey;
    font-size: 1.05rem;
    margin-right: 0;
  }
  .post-tags{
    display: flex;
    align-items: center;
    position:relative;
    bottom: 3px;
    h4 {
      font-family: $deco-text;
    }
  }
  .post-tag-list a.tag-list-tag{
    font-size: 1rem;
    line-height: 1.2;
  }
}

.post-content li {
  line-height: 1.8;
}

.post-next {
  margin-top: 40px;
  font-family: $deco-text;
  display: flex;
  justify-content: space-between;
  background: $tan;
  padding: 1.5rem;
  border-radius: 5px;
  span {
    width: 50%;
    &:nth-of-type(2){
      text-align: right;
    }
  }
  @media all and(max-width: 600px){
    flex-direction: column;
    span {
      width: 100%;
      margin-top: 1rem;
      &:nth-of-type(2){
        text-align: left;
      }
    }
  }
}
